<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>New Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="<%= filenames.css %>">
    </head>
    <body class="has-static-navbar-bottom">
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div data-region="header"></div>
        <div data-region="notifications"></div>
        <div class="container" data-region="content"></div>
        <div data-region="footer"></div>
        <div data-region="modal"></div>

        <% if (env !== 'dist') { %>
            <script src="<%= filenames.vendor %>"></script>
        <% } %>
        <script src="<%= filenames.settings %>"></script>
        <script src="<%= filenames.js %>"></script>
        <script>
            $(document).ready(function () {
                window.Application = new (require('app'))();
                Application.start();
            });
        </script>
    </body>
</html>
